.App {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: lightcyan;
}

.form-field {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  display: flex;
}
input {
  border: none;
  margin-right: 10px;
  flex-grow: 1;
}

input:focus {
  outline: none;
}

.add {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #22c55e;
  color: white;
  font-weight: bold;
}

.todo-item {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  font-weight: bold;
  border-bottom: 4px solid lightcyan;
  display: flex;
  border-radius: 5px;
}

.todo-group {
  padding: 0;
  margin-top: 50px;
}

.delete {
  color: rgb(255, 66, 66);
  cursor: pointer;
}

.check {
  color: #22c55e;
  cursor: pointer;
}
.done {
  text-decoration: line-through;
  flex-grow: 2;
}

.not-done {
  text-decoration: none;
  flex-grow: 2;
}

.todo-function {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
