.App {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: lightcyan;
}

.form-field {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  display: flex;
}
input {
  border: none;
  margin-right: 10px;
  flex-grow: 1;
}

input:focus {
  outline: none;
}

.add {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #22c55e;
  color: white;
  font-weight: bold;
}
